.App {
  height: auto;
  display: flex;
  color: #fff;
}

.appAside {
  width: 10vw;
  background-color: #191034;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  height: 100vh;
  top: 0;
  left: 0;
}

.appForm {
  width: 90vw;
  background-color: #ffffff;
  padding: 7vh 0 0 15vw;
  overflow: auto;
}

.pageSwitcher {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100vw;
  height: 5vh;
  top: 0;
  right: 0;
  background-color: #191034;
  box-shadow: 5px 2px 30px 1px #000;
}

.pageFooter {
  position: fixed;
  display: grid;
  grid-template-columns: 30vw 30vw 30vw;
  justify-content: center;
  width: 90vw;
  height: 10vh;
  bottom: 0;
  right: 0;
  background-color: #191034;
  box-shadow: 5px 2px 30px 1px #000;
	color: #fff;
}

.footerCompanyName {
  color: #fff;
  text-align: center;
}

.footerLinks {
  display: grid;
  grid-template-columns: 10vw 10vw 10vw;

  a {
    text-decoration: none;
    color: #fff;
    border-left: 1px solid #fff;
    text-align: center;

    &:first-child {
      border: none
    }
  }
}

.footerInfo {
  text-align: center;
}

.footerCompanyAbout{
	color: #fff;
	margin: auto;
}

.pageSwitcherItem {
  padding: 10px 25px;
  color: #fff;
  cursor: pointer;
  font-size: 0.9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
}

.formCenter {
  margin-bottom: 100px;
}

.formTitle {
  color: #d967ff;
  font-weight: 300;
  margin-bottom: 50px;
}

.formTitleLink {
  color: #d967ff;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  padding-bottom: 5px;
}

.formTitleLinkActive {
  color: #d967ff;
  border-bottom: 1px solid #191034;
}

.sideNavTitleLink {
  color: #9e91c1;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
  padding-bottom: 5px;
  margin: 10px 5px;
  width: fit-content;
}

.sideNavTitleLinkActive {
  color: #9e91c1;
  border-bottom: 1px solid #9e91c1;
}

.formField {
  margin-bottom: 40px;
}

.formFieldLabel {
  display: block;
  text-transform: uppercase;
  font-size: 0.9em;
  color: #d967ff;
}

.formFieldInput {
  width: 80%;
  background-color: transparent;
  border: none;
  color: #d967ff;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}

.formFieldInput::placeholder {
  color: #616e7f;
}

.formFieldError {
  display: block;
  font-size: 0.7em;
  color: #cc0000;
  padding-top: 5px;
}

.formFieldButton {
  background-color: #191034;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: 0.8em;
  font-weight: 500;
  cursor: pointer;
}

.formFieldLink {
  color: #66707d;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid #191034;
  padding-bottom: 5px;
}

.formFieldCheckboxLabel {
  color: #646f7d;
  font-size: 0.9em;
}

.formFieldCheckbox {
  position: relative;
  top: 1.5px;
}

.formFieldTermsLink {
  color: #fff;
  border-bottom: 1px solid #191034;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
}